body {
  background: #ffffff;
}
section {
  font-size: 1.2rem;
  padding: 1rem;
}
section h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
section h3 {
  margin: 1rem 0 .8rem;
  font-weight: bold;
}
section h4 {
  margin: 1rem 0 .8rem;
  font-weight: bold;
}
section p {
  padding: 0 1rem;
  line-height: 1.8rem;
  text-align: justify;
}
