body {
  background: #fff;
}
header {
  width: 100%;
  height: 22.7rem;
  position: relative;
  color: #f3deb1;
  overflow: hidden;
  border-bottom: none;
  background: url("../img/bg_packet.png") no-repeat;
  background-size: 100% 22.7rem;
}
header .back {
  position: absolute;
  background: url("../img/back_wh.png") no-repeat center;
  background-size: .8rem 1.4rem;
  width: .8rem;
  height: 1.4rem;
  padding: 1.5rem 1.2rem;
}
header h3 {
  text-align: center;
  color: #f3deb1;
  font-size: 1.8rem;
  margin: 1.5rem auto 3rem;
}
header .totalAmount {
  text-align: center;
  margin-bottom: 4.5rem;
  font-weight: bold;
  font-size: 6rem;
}
header .totalAmount em {
  font-size: 1.8rem;
}
header .redInfo li {
  font-size: 0;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #f6d7d3;
}
header .redInfo li .lin01 {
  font-size: 2rem;
  margin-bottom: .9rem;
}
header .redInfo li .lin01 em {
  font-size: 1.3rem;
}
header .redInfo li .lin02 {
  font-size: 1.3rem;
}
header #register {
  font-size: 1.4rem;
  color: #feeecc;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
section .redItems li {
  padding: 1.4rem 2rem 1.1rem;
  border-bottom: 1px solid #f0f0f0;
}
section .redItems li h6 {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: .9rem;
}
section .redItems li h6 .receivePacket {
  float: right;
}
section .redItems li div {
  font-size: 1.3rem;
  color: #b2b2b2;
}
section .redItems li div .title {
  float: right;
  text-align: right;
}
section .noRedPacketInfo {
  text-align: center;
  margin-top: 5rem;
}
section .noRedPacketInfo dt img {
  width: 7.9rem;
  height: 7.9rem;
  margin-bottom: 1.6rem;
}
section .noRedPacketInfo dd {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #b2b2b2;
}
